<div class="about-container">
    <h3 class="welcome-title"><span class="cbi--iris-group logo"></span> {{title}}</h3>
    <p class="description">
        Welcome to the Chat API. Our platform offers developers a robust solution for seamlessly 
        integrating chat functionality into their applications, websites, and mobile apps. Developers are empowered to manage user authentication 
        independently, utilizing JWT tokens while interfacing with our API to register or validate users securely. 
    </p>
    <div class="started-btn">Get Started</div>
</div>