<div class="features">
    <div class="feature-image-container">
        <img class="feature-image" src="/assets/images/undraw_developer_activity_re_39tg.svg" />
    </div>
    <div class="feature-contents">
        <div class="feature-item feature-item-left-padding">
            <div class="feature-item-left">
                <div class="feature-item-circle">
                    <span class="streamline--desktop-chat"></span>
                </div>
                <p>
                    Our API streamlines the integration process by providing straightforward endpoints and comprehensive documentation, ensuring a smooth 
                    implementation experience.
                </p>
            </div>
            <div class="feature-item-left">
                <div class="feature-item-circle">
                    <span class="solar--chat-square-code-line-duotone"></span>
                </div>
                <p>
                    Whether you're developing a messaging feature for a social platform, facilitating team collaboration within a business application, 
                    or fostering community engagement on a website.
                </p>
            </div>
        </div>
        <div class="feature-line"></div>
        <div class="feature-item feature-item-right-padding">
            <div class="feature-item-right">
                <div class="feature-item-circle">
                    <span class="fa6-solid--people-group"></span>
                </div>
                <p>
                    To enhance customization and personalization, developers can include essential user details, such as client name and platform identifier, 
                    along with optional organizational information.
                </p>
            </div>
            <div class="feature-item-right">
                <div class="feature-item-circle">
                    <span class="clarity--devices-solid"></span>
                </div>
                <p>
                    Explore our documentation to access detailed guides, comprehensive API references, and practical code examples, accelerating the 
                    integration process and unlocking the full potential of chat functionality in your applications.
                </p>
            </div>
        </div>
    </div>
</div>