{% extends "__base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/dashboard.css" />
    {% block innerHead %}{% endblock innerHead %}
{% endblock head %}

{% block body %}
    <div class="header">
        <div class="title-container">
            <h3 class="title"><span class="cbi--iris-group"></span> {{title}}</h3>
            <span class="ic--baseline-expand-more expand-button"></span>
        </div>
        <div class="options">{% block header %}{% endblock header %}</div>
    </div>
    <div class="main">
        <div class="tab">
            {% block tab %}{% endblock tab %}
        </div>	
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock body %}