{% extends "__base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/features.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <link rel="stylesheet" href="/assets/css/signin.css" />
    {% block innerHead %}{% endblock innerHead %}
{% endblock head %}

{% block body %}
    <div x-data="{ isScrolled: false }" x-on:scroll.window="isScrolled = window.scrollY > 0">
        <header :class="isScrolled ? 'header-light' : 'header-transparent'">
            <h3 class="title"><span class="cbi--iris-group"></span> {{title}}</h3>
            <div class="options">
                <a href="#" @click.prevent="scrollToSection('about')" class="options-about active">About</a>
                <a href="#" @click.prevent="scrollToSection('features')" class="options-features">Features</a>
                <a href="/docs">Docs</a>
                <a href="#" @click.prevent="scrollToSection('contacts')" class="options-contacts">Contacts</a>
            </div>
            {% if user %}

            {% else %}
                <a href="#sigin" class="options-signin" onclick='showSignin()'>Sign In</a>
            {% endif %}
        </header>
        <div id="signin-container" style="display:none">
            {% include "components/__signin.njk" %}
        </div>
        <div id="content-container">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script>
        let current = "about";
        let sections = document.querySelectorAll("section");
        const signinContainer = document.getElementById("signin-container");
        const contentContainer = document.getElementById("content-container");


        const scrollToSection = (section) => {
            document.querySelectorAll(`.options-signin`)[0].classList.remove("active");
            document.querySelectorAll(`.options-${current}`)[0].classList.add("active");

            contentContainer.style.display = "block";
            signinContainer.style.display = "none";

            const targetSection = document.getElementById(section);
            targetSection.scrollIntoView({ behavior: 'smooth' });
        }

        const initScroll = () =>{
            document.querySelectorAll(`.options-${current}`)[0].classList.remove("active");
            sections.forEach((section, index) => {
                const sectionTop = section.offsetTop;
                if (window.scrollY >= sectionTop - 60) {
                    current = section.id;
                }
            });
            document.querySelectorAll(`.options-${current}`)[0].classList.add("active");
        }

        const showSignin = () =>{
            if(signinContainer.style.display === "none"){
                document.querySelectorAll(`.options-${current}`)[0].classList.remove("active");
                document.querySelectorAll(`.options-signin`)[0].classList.add("active");

                contentContainer.style.display = "none";
                signinContainer.style.display = "block";
            }
        }

        document.addEventListener("alpine:init", ()=>{
            Alpine.store("page", {
                signin: false,
            });
        });

        window.addEventListener("scroll", () => initScroll());
        window.addEventListener("load", () => initScroll());
    </script>
{% endblock body %}
