<div class="overview">
    <h3 class="welcome-title"><span class="cbi--iris-group logo"></span> {{title}}</h3>
    <p class="description">
        Welcome to the Chat API. Our platform offers developers a robust solution for seamlessly 
        integrating chat functionality into their applications, websites, and mobile apps. Developers are empowered to manage user authentication 
        independently, utilizing JWT tokens while interfacing with our API to register or validate users securely. 
    </p>
    <div class="started-btn">Get Started</div>
    <div class="features">
        <div class="feature-contents">
            <div class="feature-item feature-item-left-padding">
                <div class="feature-item-left">
                    <div class="feature-item-circle"></div>
                    <p>
                        Our API streamlines the integration process by providing straightforward endpoints and comprehensive documentation, ensuring a smooth 
                        implementation experience. Developers are required to handle user authentication externally, generating and passing JWT tokens 
                        to the API for user registration and validation.
                    </p>
                </div>
                <div class="feature-item-left">
                    <div class="feature-item-circle"></div>
                    <p>
                        Whether you're developing a messaging feature for a social platform, facilitating team collaboration within a business application, 
                        or fostering community engagement on a website, Chat API empowers developers to create dynamic and interactive chat experiences 
                        effortlessly.
                    </p>
                </div>
            </div>
            <div class="feature-line"></div>
            <div class="feature-item feature-item-right-padding">
                <div class="feature-item-right">
                    <div class="feature-item-circle"></div>
                    <p>
                        To enhance customization and personalization, developers can include essential user details, such as client name and platform identifier, 
                        along with optional organizational information. This enables the creation of tailored chat experiences, 
                        facilitating seamless communication within distinct user groups or organizational units.
                    </p>
                </div>
                <div class="feature-item-right">
                    <div class="feature-item-circle"></div>
                    <p>
                        Explore our documentation to access detailed guides, comprehensive API references, and practical code examples, accelerating the 
                        integration process and unlocking the full potential of chat functionality in your applications. Welcome to a world of seamless 
                        communication with Chat API.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>